.component.scrolla
  position relative
  overflow hidden

  >.content
    position absolute
    top 0
    left 0

  >.scrollbar
    position absolute
    z-index 999

    &.vertical
      width 10px
      height 100%
      top 0

      &.left
        &.inside
          left 0

        &.outside
          right 100%

      &.right
        &.inside
          right 0

        &.outside
          left 100%

    &.horizontal
      height 10px
      width 100%
      left 0

      &.top
        &.inside
          top 0

        &.outside
          bottom 100%

      &.bottom
        &.inside
          bottom 0

        &.outside
          top 100%

    >.track
      width 100%
      height 100%
      background-color #DDD

      >.thumb
        z-index 9999
        position absolute
        top 0
        left 0
        background-color gray
        width 100%
        height 100%
        cursor move

      >.button
        &.top
          place holder
  
        &.left
          place holder
  
        &.right
          place holder
  
        &.bottom
          place holder
